# Environment variables / secrets
.env
backend/ecosystem.config.js

# Python caching
__pycache__/
*.pyc

# Node modules / frontend dependencies
node_modules/
dist/
build/

# IDE files
.vscode/
.idea/
.DS_Store
